
.main-title {
    text-align: center;
    color: orange;
    font-size: 36px;
}

h2 {
    color: darkred;
}


.intro {
    font-size: 18px;
}

.bold-paragraph {
    font-weight: bold;
    font-size: 16px;
}

.small-paragraph {
    font-size: 12px;
}


.background-box {
    background-color: #fdf3d1;
    background-image: url('https://i.imgur.com/k9BBLsq.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    margin: 20px 0;
    color: white;
}


.block {
    padding: 15px;
    margin: 10px;
    border: 2px solid #444;
    background-color: #fffbe6;
}

.box {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #aaa;
    background-color: #f0f0f0;
}

.small-box {
    width: 150px;
    height: 60px;
}

.medium-box {
    width: 250px;
    height: 100px;
}

.overflow-box {
    width: 300px;
    height: 100px;
    overflow: auto;
}

